h1 {
	color: red !important;
}

h2{
	margin-top: 2rem !important;
}

h3{
	margin-left: 10px !important;
	margin-top: -2rem !important;
}

code{
	font-size: 100% !important;
}

hr.h2 {
  border: 10px solid red;
  border-radius: 5px;
}

hr.h3 {
  border: 5px solid green;
  border-radius: 2px;
}

/* Cambio color tabla contenidos ya visitados... */
.md-nav__link[data-md-state="blur"] {
    color: rgb(255, 0, 0);
}